@use '../utils/utils' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    @include flex-center;
    background: $primary-color;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}


.navbar {
    @include flex-center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 15px 20px;
}


.navbar__logo-link {
    font-size: 22px;
    font-weight: bold;
    color: $secondary-color;
    text-decoration: none;
}


.navbar__menu-toggler {
    display: none;
}


.navbar__hamburger-btn {
    cursor: pointer;
    display: none;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    outline: none;
}


.navbar__links {
    display: flex;
    gap: 20px;
}

.navbar__link-item {
    list-style: none;
}

.navbar__link {
    text-decoration: none;
    color: #2D2D2D;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar__link:hover {
    color: $secondary-color;
}


@media screen and (max-width: 860px) {
    .navbar__links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background: $primary-color;
        @include flex-center;
        flex-direction: column;
        gap: 30px;
        transition: left 0.4s ease-in-out;
        padding-top: 80px;
    }


    .navbar__menu-toggler:checked~.navbar__links {
        left: 0;
    }

    .navbar__link {
        color: #2D2D2D;
        font-size: 20px;
    }

    .navbar__link:hover {
        color: $secondary-color;
    }


    .navbar__hamburger-btn {
        display: block;
    }


    .navbar__hamburger-btn svg {
        fill: #2D2D2D;
        width: 30px;
        height: 30px;
    }
}